.grupo{
	widht:200px;
	height:150px;
	background:green url('leao.jpg')no-repeat;
	border:10px dotted blue;
	paddin:10px;
	-webkit-background-size:cover;
}
#quadro1{
	-webkit-background-origin:border-box;
}
#quadro2{
	-webkit-background-origin:padding-box;
}
#quadro3{
	-webkit-background-origin:content-text;
}
p{
	background-color:white;
}