@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100vw;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}


a#github{
    display: block;
    background-color: rgba(137, 43, 226, 0.541);
    padding: 5px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

a#instagram{
    display: block;
    background-color: rgba(190, 238, 17, 0.445);
    padding: 5px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

a#facebook{
    display: block;
    background-color: rgba(0, 0, 255, 0.486);
    padding: 5px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

a#twitter{
    display: block;
    background-color: rgba(23, 23, 255, 0.349) ;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

a#youtube{
    display: block;
    background-color:rgba(255, 0, 0, 0.575);
    padding: 5px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    background-color: rgba(0, 4, 255, 0.199);
}